* {
    margin: 0%;
    padding: 0%;
 
  }
  
  #first {
    width: 100%;
    display: flex;
    justify-content: center;
  
  }
  
  #main-img {
    width: 70%;
    margin-left: 30%;
    margin-top: 10%;
    /* justify-content:left; */
  }
  
  #img {
  display: inline;
  position: absolute;
  left: 5%;
  top: 10%;
  
  }
  
  #img img{
  column-gap:100px;
  }
  
  
  /* ===========TEXT SECTION START HERE ==========*/
  #textcontainer2 {
    width: 60%;
    margin-top: 5%;
    margin-left:3%;
    font-family:"Gidole", sans-serif;
      font-weight: 400px;
      font-style: normal;
     
  
    }
    
  
  .star {
  display: flex;
  margin-left:50%;
  gap: 2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .star i {
  margin-top:1%;
  }
  
  .shop{
  display: flex;
  font-size: medium;
  font-weight: 10px;
   font-size: 17px;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(45deg, #1C6C9E, #1c6c9ec6);
   -webkit-background-clip: text; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  animation: colorChange 3s linear infinite;
  
  }
    /* =========BUTTON SECTION START========= */
  .button1{
   display: flex;
  
  gap: 5%;
  
  }
  .custom-button{
  background-color: rgb(168, 255, 127);
  color: white;
  border: none;
  height: 50px;
  width: 30%;
  border-radius: 7px;
  cursor: pointer;
  transition: transform 0.2s; 
  box-shadow: 0 4px #fdd835; 
  }
  
  .custom-button:hover {
    background-color: #fdd835; 
    transform: scale(1.1);
  }
  .custom-button:active {
    background-color: #fdd835; 
    transform: scale(1.05);
  }
  
  .custom-button2{
    background-color:  rgb(168, 255, 127);
    color: white;
    border: none;
    height: 50px;
    width: 30%;
    border-radius: 7px;
    cursor: pointer;
    transition: transform 0.2s; 
    box-shadow: 0 4px #fdd835; 
    }
    
    .custom-button2:hover {
      background-color: #fdd835; 
      transform: scale(1.1);
    }
    .custom-button2:active {
      background-color: #fdd835; 
      transform: scale(1.05);
    }
  /* ============ PIN SECTION START HERE =========*/
  #pin{
    display: flex;
  height: 30px;
  margin-top: 20px;
  padding: 2px;
  background-color:#EAEAEA ;
  
  transition: transform 0.2s;
  margin-top: 5%;  
  width:300px; 
  
  gap: 10px;
  }
  
  #pin:hover {
    background-color: #141111; 
    transform: scale(1.1);
  }
  
  #pin input{
    width:300PX;
   
  }
  
  .key{
  margin-top: 5%;
  }
  
  
  /* ===========UNORDER LIST START HERE ===========*/
  
  #ul ul {
  display: flex;
  gap: 125px;
  list-style-type: none;
  margin-top:20px;
  color: gold;
  transition: transform 0.2s;
  /* background-color: #EAEAEA; */
  
  }
  #op:hover{
    background-color:gold ;
    transform: scale(1.1);
  }

  
  #op{
  color:black ;
  box-shadow:2px 2px 5px #141111;
  }
  
  #neck{
    color:black ;
    box-shadow:2px 2px 5px #141111;
  }
  #neck:hover{
    background-color:gold;
    transform: scale(1.1);
  }
  #ul2{
    display: flex;
    gap: 100px;
    list-style-type: none; 
    margin-top:20px;
    /* color: #006633; */
    /* background-color: #EAEAEA; */
  }
  #fit{
    color:black ;
    box-shadow:2px 2px 5px #141111;
  }
  #fit:hover{
    background-color:gold;
    transform: scale(1.1);
  }
  
  #cotton {
    color:black ;
    box-shadow:2px 2px 5px #141111;
  }
  
  
  #cotton:hover{
    background-color:gold;
    transform: scale(1.1);
  }
  