* {
  margin: 0%;
  padding: 0%;

}

#first {
  width: 100%;
  display: flex;
  justify-content: center;

}

#main-img {
  width: 70%;
  margin-left: 30%;
  margin-top: 10%;
  /* justify-content:left; */
}

#img {
display: inline;
position: absolute;
left: 5%;
top: 10%;
/* justify-content: left;  */


}

/* .container1 {
  display: flex;
  justify-content: right;
  align-items: center;
} */

#textcontainer2 {
  width: 60%;
  margin-top: 5%;
  margin-left:3%;
  
}
.star {
display: flex;
/* justify-content: left;  */
margin-left:50%;
gap: 2%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.star i {
margin-top:1%;
}

.shop{
display: flex;
font-size: medium;
font-weight: 10px;

}
  /* =========BUTTON SECTION START========= */
.button1{
 display: flex;

gap: 5%;

}
.custom-button{
background-color: rgb(255, 127, 127);
color: white;
border: none;
height: 50px;
width: 30%;
border-radius: 7px;
cursor: pointer;
transition: transform 0.2s; 
box-shadow: 0 4px #fdd835; 
}

.custom-button:hover {
  background-color: #fdd835; 
  transform: scale(1.1);
}
.custom-button:active {
  background-color: #fdd835; 
  transform: scale(1.05);
}

.custom-button2{
  background-color: rgb(255, 127, 127);
  color: white;
  border: none;
  height: 50px;
  width: 30%;
  border-radius: 7px;
  cursor: pointer;
  transition: transform 0.2s; 
  box-shadow: 0 4px #fdd835; 
  }
  
  .custom-button2:hover {
    background-color: #fdd835; 
    transform: scale(1.1);
  }
  .custom-button2:active {
    background-color: #fdd835; 
    transform: scale(1.05);
  }
/* ============DELIVERY SECTION START HERE =========*/
#pin{
  display: flex;
height: 30px;;
width: 200px;;
margin-top: 30px;
padding: 2px;;
}







